{% extends 'base_user.html' %}
{% block content %}
<div class="container">
    <div class="col-md-12">
          <div class="p text-left bg-light" style="margin-top: 110px; ">
            <div class="card border-0 shadow rounded w-100" style="background-color: rgba(245, 245, 245, 0.4);  ">
                <div class="card-header border-0" style="background:#ddb4ac">
                    <h5 class="widget-homepage-desc text-center">Raport contacte</h5>
                </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>Index</th>
                        <th>Nume</th>
                        <th>Email</th>
                        <th>Mesaj</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in contact_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

