{% extends 'base_user.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="col-md-12">


            <a class="btn btn-primary" style="margin-top: 10px; " href="{% url 'aplicatieTicketing:ticket' %}">Adaugare tichet</a>
              <div class="p text-left bg-light" style="margin-top: 10px; ">

                <div class="shadow p-4 mb-5 bg-body rounded" style="margin-top: 10px;">

                    <table class="table table-sm" style="margin-top: 10px;">
                        <thead class="thead-dark">
                        <tr>
                            <th>Index</th>
                            <th>Subiect tichet</th>
                            <th>Stare</th>
                            <th>Tip tichet</th>
                            <th>Nume utilizator</th>
                            <th>Email</th>
                            <th>Actiuni</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in all_ticket %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.subject_ticket }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{% url 'aplicatieTicketing:modify_ticket' item.id %}">Editare</a>
                                        <a class="btn btn-danger btn-sm" href="#">Stergere</a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
</div>
{% endblock %}

