{% extends 'base_user.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="col-md-12">


            <a class="btn btn-primary" style="margin-top: 10px; " href="{% url 'aplicatieTicketing:ticket' %}">Adaugare tichet</a>
              <div class="p text-left bg-light" style="margin-top: 10px; ">

                <div class="shadow p-4 mb-5 bg-body rounded" style="margin-top: 10px;">

                    <table class="table table-sm" style="margin-top: 10px;">
                        <thead class="thead-dark">
                        <tr>
                            <th>Index</th>
                            <th>Subiect tichet</th>
                            <th>Stare</th>
                            <th>Tip tichet</th>
                            <th>Nume utilizator</th>
                            <th>Email</th>
                            <th>Actiuni</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in all_ticket %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.subject_ticket }}</td>
                                    <td class=" align-middle">
                                        {% if item.status.name == "Confirmat" %}
                                            <span class="badge-ticket-acknowledget badge" style="background-color:#007bff; color:#fff";>{{ item.status.name }}</span>
                                        {% elif item.status.name == "In lucru" %}
                                            <span class="badge-ticket-acknowledget badge" style="background-color:#d58512; color:#fff";>{{ item.status.name }}</span>
                                        {% elif item.status.name == "Rezolvat" %}
                                            <span class="badge-ticket-acknowledget badge" style="background-color:#00a65a; color:#fff";>{{ item.status.name }}</span>
                                        {% elif item.status.name == "Inchis" %}
                                            <span class="badge-ticket-acknowledget badge" style="background-color:#4d4d4d; color:#fff";>{{ item.status.name }}</span>
                                        {% elif item.status.name == "Anulat" %}
                                            <span class="badge-ticket-acknowledget badge" style="background-color:#f56954; color:#fff";>{{ item.status.name }}</span>
                                        {% elif item.status.name == "Trimis" %}
                                            <span class="badge-ticket-acknowledget badge" style="background-color:#00c0ef; color:#fff";>{{ item.status.name }}</span>
                                        {% elif item.status.name == "Respins" %}
                                            <span class="badge-ticket-acknowledget badge" style="background-color:#dc3545; color:#fff";>{{ item.status.name }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ item.type.name }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{% url 'aplicatieTicketing:modify_ticket' item.id %}">Editare</a>
                                        <a class="btn btn-danger btn-sm" href="#">Stergere</a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
</div>
{% endblock %}

