{% extends 'base_user.html' %}
{% block content %}

<div class="container">
    <div class="col-md-12">
        <div class="p text-left bg-light" style="margin-top: 10px; ">
            <div class="card border-0 shadow rounded w-100" style="background-color: rgba(245, 245, 245, 0.4);  ">
                <div class="card-header border-0" style="background:#ddb4ac">
                    <h5 class="widget-homepage-desc text-center">Raport tichete</h5>
                </div>
            </div>
            <div class="card-group">
                <div class="card text-center">
    <!--                <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                      <h5 class="card-title">Tichete create azi</h5>
                      <p class="card-text">{{count_today}} </p>
        <!--                  <p class="card-text">{% now "d" %} </p>-->
        <!--                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div>
                <div class="card text-center">
<!--                <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                      <h5 class="card-title">Tichete finalizate azi</h5>
                      <p class="card-text">{{count_today_final}} </p>
                      <p class="card-text"><small class="text-muted">{{dat}}</small></p>
                    </div>
                </div>
                <div class="card text-center">
<!--                <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                      <h5 class="card-title">Tichete finalizate</h5>
                      <p class="card-text">{{count_final}} </p>
                      <p class="card-text"><small class="text-muted">{{dat}}</small></p>
                    </div>
                </div>
                <div class="card text-center">
<!--                <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                      <h5 class="card-title">Total tichete</h5>
                      <p class="card-text">{{count}}</p>
    <!--                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}