{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="col-md-12">
            <div class="p text-left bg-light" style="margin-top: 10px;">
                <div class="shadow p-4 mb-5 bg-body rounded">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="col-4">
                            <label>Username</label>
                            <input class="form-control" name="username" type="text">

                            <label>Password</label>
                            <input class="form-control" name="password" type="password">
                            <br>

                            <button type="submit" class="btn btn-info">Login</button>
                            <span>{{ form.non_field_errors }}</span>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>

{% endblock %}
