<html lang="en">
<head>
    {% load static %}
    <title>Platforma de management a serviciilor IT</title>
    <div class="p-3 text-center bg-light" style="margin-top: 10px;">
        <h3 class="mb-3"> Platforma de management a serviciilor IT</h3>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div class="container" style="margin-top: 10px;>
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg bg-light">
                        <a class="btn" href="{% url 'aplicatieTicketing:generalHtml' %}">Acasa</a>
                        <a class="btn" href="{% url 'userprofile:new_user' %}">Inregistrare</a>
                        <a class="btn" href="{% url 'login' %}">Login</a>
                        <a class="btn" href="{% url 'aplicatieTicketing:contact' %}">Contact</a>
                    </nav>
                </div>
            </div>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
</div>


{% block content %}
{% endblock %}

</body>
</html>