{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="p text-left bg-light" style="margin-top: 10px;">
                <div class="shadow p-4 mb-5 bg-body rounded">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="col-5">
                            <p>Te rugam sa introduci adresa de email pentru care doresti sa resetezi contul!</p>
                            <label>Email</label>
                            <input type="text" name="email" class="form-control">
                            <br>
                            <button type="submit" class="btn btn-warning">Reseteaza</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}